body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: hwb(321 72% 1% / 0.803);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: rgba(249, 249, 108, 0.859);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #94fb90;
  cursor: pointer;
}

.cell.taken {
  pointer-events: none;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: hwb(36 0% 0%);
}
#status {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  #status span {
    font-weight: bold;
  }
  